{% load bootstrap3 %}
<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}Envío de mensajes{% endblock %}</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		{% bootstrap_css %}
		{% bootstrap_javascript %}

	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Simulador</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		      	{% block menu_items %}
		        <li><a href="/">Nuevo mensaje</a></li>
		        <li><a href="/list">Lista de mensajes</a></li>
		        {% endblock %}
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		{% bootstrap_messages %}
		<div class="well">{%block content %}{% endblock%}</div>
	</body>
</html>