{% extends 'mod/base.html' %}
{% load bootstrap3 %}


{% block content %}
<h1>Nuevo mensaje</h1>
<form action="." class="form" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{% bootstrap_form form%}
	{% buttons %}
		<button class="btn btn-primary" type="submit">Enviar</input>
	{% endbuttons %}
</form>
<script type="text/javascript">

	var acentos = "ÃÀÁÄÂÈÉËÊÌÍÏÎÒÓÖÔÙÚÜÛãàáäâèéëêìíïîòóöôùúüûÑñÇç";

	$('#id_text').keypress(function(event){
		if (acentos.indexOf(String.fromCharCode(event.charCode))> -1){
			event.preventDefault();
		}
	});
</script>
{% endblock %}