{% extends 'mod/base.html' %}
{% load bootstrap3 %}


{% block content %}
<h1>Listado de mensajes</h1>

<table class="table">
	<tr>
		<th>Id</th>
		<th>Texto</th>
		<th>Status</th>
		<th>Receptores</th>
	</tr>
	{% for row in rows %}
		<tr>
			<td>{{row.id}}</td>
			<td>{{row.text}}</td>
			<td>{{row.status}}</td>
			<td>{{row.receivers}}</td>
		</tr>
	{% endfor %}	
</table>


{% endblock %}